<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <img src="{{ url_for('static', filename='img/kandm.jpg') }}" class="bio-img">
        <p class="text-muted lead">About us</p>
        <p class="text-muted">
            Put a bird on it plaid organic, lumbersexual +1 biodiesel lo-fi direct trade. Retro cold-pressed brunch, Helvetica dreamcatcher mumblecore Shoreditch sriracha Neutra XOXO. Shoreditch fingerstache skateboard stumptown Neutra Brooklyn. Tousled aesthetic mlkshk tilde, authentic bicycle rights cred four loko fap.
        </p>
      </div>
      <div class="col-md-3 contact">
        <p class="text-muted lead">
            Find us online:
            <p class="signature">
            Kate:
              <p>
                <a href="https://www.twitter.com/ueberkatester"><img src="{{url_for('static', filename='img/icn/twt-icn.png') }}" class="social-icon"></a>
                <a href="https://instagram.com/therealgarky/"><img src="{{url_for('static', filename='img/icn/inst-icn.png') }}" class="social-icon"></a>
              </p>
            </p>
            <p class="signature">
            Micah:
              <p>
                <a href="https://www.twitter.com/micahsaul"><img src="{{url_for('static', filename='img/icn/twt-icn.png') }}" class="social-icon"></a>
                <a href="https://instagram.com/micahsaul/"><img src="{{url_for('static', filename='img/icn/inst-icn.png') }}" class="social-icon">
                <a href="https://github.com/micahsaul"><img src="{{url_for('static', filename='img/icn/gh-icn.png') }}" class="social-icon"></a>
              </p>
            </p>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="copyright-text">this is copyright text.</p>
      </div>
    </div>
  </div>
</footer>
